{
    "sourceMaps": true,
    "presets": [
        "flow",
        "es2015"
    ],
    "plugins": [
        "transform-flow-strip-types",
        "transform-runtime",
        "transform-regenerator",
        "transform-async-to-generator",
        "transform-object-rest-spread"
    ]
}